#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
# export LANG='en_US.UTF-8';
# export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

# Hide the “default interactive shell is now zsh” warning on macOS.
export BASH_SILENCE_DEPRECATION_WARNING=1;

# Set up environment for nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm

# https://github.com/microsoft/vscode/issues/151105
export PROMPT_COMMAND="history -a"

# Add Gpg4win to the PATH
export PATH="/c/Program Files (x86)/GnuPG/bin:$PATH"

# Add OpenSSH installation to PATH
# https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH-Using-MSI
export PATH="/c/Program Files/OpenSSH:$PATH"

# Add yarn bin to the `$PATH`
# export PATH="$HOME/AppData/Local/Yarn/bin:$PATH"

# Add OpenJDK Java to PATH
export PATH="$PATH:/c/Program Files/Eclipse Adoptium/jdk-20.0.2.9-hotspot/bin"

# Add Android SDK to PATH
export ANDROID_HOME="$HOME/AppData/Local/Android/Sdk"
export PATH="$PATH:$ANDROID_HOME/emulator"
export PATH="$PATH:$ANDROID_HOME/platform-tools"
export PATH="$PATH:$ANDROID_HOME/cmdline-tools/latest/bin"

# Add Flutter to PATH
export PATH="$PATH:$HOME/code/flutter/bin"

# Add dart executables to PATH
export PATH="$PATH:$HOME/AppData/Local/Pub/Cache/bin"

# Test Flutter in Brave
export CHROME_EXECUTABLE="/c/Program Files/BraveSoftware/Brave-Browser/Application/brave.exe"

# Add lcov tools in Windows
export PATH="$PATH:/c/ProgramData/chocolatey/lib/lcov/tools/bin"

# Add python to PATH
export PATH="$PATH:/c/Python27/"
export PYTHONPATH="/c/Python27/"
export PYTHON="/c/Python27/python.exe"

# Add awscli to PATH
export PATH="$PATH:/c/Program Files/Amazon/AWSCLIV2:/c/Program Files/Amazon/SessionManagerPlugin/bin"

# ===================
# WSL Specific Exports
if [[ -n "$WSL_DISTRO_NAME" ]]; then
  export CODE="/mnt/c/Users/timmy/code"

  # Save SSH passphrase to keychain
  # Still requires entering the passphrase once on WSL startup
  if [ -d "/usr/bin/keychain" ]; then
    /usr/bin/keychain ~/.ssh/id_ed25519
    source $HOME/.keychain/TimmysPC-sh
  fi

  # Add Go to PATH in WSL
  if [ -d "/usr/local/go" ]; then
    export GOROOT="/usr/local/go"
    export GOPATH="$HOME/go"
    export PATH="$GOPATH/bin:$GOROOT/bin:$PATH"
  fi

  # Add asdf to PATH
  if [ -d "$HOME/.asdf/shims" ]; then
    export PATH="$HOME/.asdf/shims:$PATH"
  fi
fi
